:root{
   --first: #a49695;
   --first-light: #e7dbda;
   --second: #f5eedf;
   --second-dark: color-mix(in srgb, var(--second) 80%, black);
   --third: #eae0d6;
   --fourth: #c5ac8e;
   --fifth: #868484;
}

.myI{
    
    mask-image: 
    linear-gradient(to bottom, black 20%, transparent),   /* fondo hacia abajo */
    linear-gradient(to right, black 80%, transparent);    /* fondo hacia la derecha */
  -webkit-mask-image: 
    linear-gradient(to bottom, black 20%, transparent),
    linear-gradient(to right, black 80%, transparent);
  
  mask-composite: intersect;
                            
      
}


.mi_left_top{
    
    mask-image: 
    linear-gradient(to top, black 70%, transparent),   /* fondo hacia abajo */
    linear-gradient(to left, black 80%, transparent);    /* fondo hacia la derecha */
  -webkit-mask-image: 
    linear-gradient(to top, black 70%, transparent),
    linear-gradient(to left, black 80%, transparent);
  
  mask-composite: intersect;
  -webkit-mask-composite: destination-in; /* Combina ambas */

                            
      
}

/* --------- */

.bcFirst{
    background-color: var(--first);
}

.bcSecond{
    background-color: var(--second);
}

.bcSecondLight{
  background-color: color-mix(in srgb, var(--second) 50%, white 50%);
}

.hoverSecond:hover{
  background-color: var(--second-dark);
}

.bcThird{
    background-color: var(--third);
}

.bcFourth{
  background-color: var(--fourth);
}

.bcFifth{
  background-color: var(--fifth);
}

.cFourth{
    color: var(--fourth);
}

.cFirst{
    color: var(--first);
}

.cSecond{
    color: var(--second);
}


.cThird{
    color: var(--third);
}


.cFourth{
    color: var(--fourth);
}

.cFifth{
  color: var(--fifth);
}





/* -------------- */






.t3{
    position: relative;
    top:-20px;
}

.bcDarkBlue{
    background-color: var(--Blue_Squares);
}

body{
    /* box-sizing: border-box;
    padding-left: 100px;
    padding-right: 100px; */
    flex-direction: column;

display: flex;
position: relative;
text-align: center;
box-sizing: border-box;
padding-top: 50px;
justify-content: center;
margin:0;

}


.dvCenter{
    /* background-color: #8f1724; */
    width: 100%;
    display: flex;
    justify-content: center;

}

.cGold{
    color: var(--Icons);
}

.myImg{
    width: clamp(200px, 50vw, 500px);
    /* background-color: #333333; */
}

.myImg6{
    width: clamp(300px, 60vw, 600px);
    /* background-color: #333333; */
}

.myImg8{
    width: clamp(130px, 34vw, 250px);
    height: clamp(100px, 34vw, 250px);

    /* background-color: #333333; */
}

.myImg7{
    width: clamp(250px, 55vw, 550px);
    /* background-color: #333333; */
}

.myImg9{
  width: clamp(50px, 8vw, 70px);
  height: clamp(50px, 8vw, 70px);
  /* background-color: #333333; */
}

.myImg13{
  width: clamp(50px, 3.9vw, 100px);
  height: clamp(50px, 3.9vw, 100px);
  /* background-color: #333333; */
}

.myImg12{
  width: clamp(50px, 4vw, 100px);
  height: clamp(50px, 4vw, 100px);
  /* background-color: #333333; */
}

.myImg11{
  width: clamp(50px, 5vw, 100px);
  height: clamp(50px, 5vw, 100px);
  /* background-color: #333333; */
}

.myImg2{
    width: clamp(50px, 10vw, 100px);
    height: clamp(50px, 10vw, 100px);
    /* background-color: #333333; */
}



.myImg4{
    width: clamp(90px, 10vw, 100px);
   
    /* background-color: #333333; */
}

.myImg10{
  width: clamp(25px, 6vw, 50px);
  height: clamp(25px, 6vw, 50px);
  /* background-color: #333333; */
}

.myImg3{
    width: clamp(30px, 7vw, 60px);
    height: clamp(30px, 7vw, 60px);
    /* background-color: #333333; */
}



.myImg5{
    width: clamp(40px, 8vw, 60px);
    height: clamp(40px, 8vw, 60px);
    /* background-color: #333333; */
}

.myButton{
  background-color: black;
  border: 1px solid white;
  transition: 0.5s;
  cursor: pointer;
}
.myButton:hover{
background-color: rgb(37, 36, 36);
}

.bcBanner{
    background-image: url('images/banner_1.png');
    background-repeat: no-repeat;
}


.dv1{
    height: auto;
    padding-left: 20px;
}

.dv2{
    font-size: clamp(10px, 4vw, 30px);
    /* background-color: #8f1724; */
}

.ff1{
    font-family: 'DM Serif';
}

.ff2{
    font-family: 'Monserrat';
}

.cWhite{
    color: white;
}

.cGray{
    color: gray;
}

.cRed{
    color: red;
}


.dv3{
    height: clamp(50px, 6vw, 120px);
    background-color: rgba(147, 191, 191, 0.281);
}


.fs1{
    font-size: clamp(8px, 1.5vw, 15px);
}

.fs12{
    font-size: clamp(10px, 3vw, 15px);
}

.fs2{
    font-size: clamp(10px, 4vw, 30px)
}

.fs8{
  font-size: clamp(25px, 4vw, 30px)
}

.fs13{
    font-size: clamp(15px, 2vw, 2px)
}

.fs3{
    font-size: clamp(12px, 2.6vw, 20px);
}

.fs4{
    font-size: clamp(15px, 3.5vw, 25px);
}

.fs9{
    font-size: clamp(25px, 4vw, 25px);
}

.fs10{
    font-size: clamp(17px, 2.6vw, 20px);
}

.fs11{
    font-size: clamp(13px, 1.5vw, 15px);
}


.fs5{
    font-size: clamp(15px, 10vw, 80px)
}


.fs6{
    font-size: clamp(20px, 4.2vw, 35px);
}

.fs7{
    font-size: clamp(20px, 6vw, 60px);
}

.fs8{
    font-size: clamp(30px, 13vw, 60px);
}

ul li::marker {
    color: rgb(255, 179, 39); /* Cambia el color de la viñeta */
  }




.xIcon{
    width:  clamp(50px, 6vw, 120px);
}

@font-face {
    font-family: Monserrat;
    src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'DM Serif';
    src: url('fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf');
}

h1{
    color: var(--Hola);
    font-family: 'Monser';
}

/* CUST-ANIM-CSS */

.cust_anim {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  .cust_anim.cust_anim_visible {
    opacity: 1;
    transform: translateY(0);
  }

  .cust_anim2 {
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  .cust_anim2.cust_anim2_visible {
    opacity: 1;
    transform: scale(1);
  }

/* -------------------- */

/* CAROUSEL-CSS */

.carousel1 {
    position: relative;
    width: 80vw;
    max-width: 600px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  .carousel-track1 {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .slide1 {
    min-width: 100%;
    height: 300px;
    
  }
  /* Simulación de “imágenes” con colores */


  /* Botones prev/next */
  .carousel1 .prev1, .carousel1 .next1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    border: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
  }
  .carousel1 .prev1 {
    left: 10px;
  }
  .carousel1 .next1 {
    right: 10px;
  }
  .carousel1 button:focus {
    outline: none;
  }

  /* CARRUSEL 2 */
.carousel2{
    width: 95vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .carousel-track2 {
    position: relative;
    width: 100%;
    max-width: 750px;
    height: 70vh;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }

  .carousel-track2 .slide2 {
    position: absolute;
    inset: 0;                 /* top:0; right:0; bottom:0; left:0 */
    opacity: 0;
    transition: opacity 1s ease;
    background-size: cover;
    background-position: center;
  }
  .carousel-track2 .slide2.active2 {
    opacity: 1;
    z-index: 1;
  }
/* Ejemplo con colores en lugar de imágenes */

  /* --------------------------- */

  /* BACKGROUND-COLOR-LINEAR-GRADIENT-CSS */

  .bcLG_180deg_firstSecond{
    background: linear-gradient(180deg, var(--first) 0%, var(--second) 100%);

  }

  .bcLG_90deg_thirdFourth{
    background: linear-gradient(90deg, var(--third) 0%, var(--fourth) 100%);

  }

  .bcLG_180deg_thirdFourth{
    background: linear-gradient(180deg, var(--third) 0%, var(--fourth) 100%);

  }

  .bcLG_180deg_SecondFourth_anim {
    /* degradado original */
    background: linear-gradient(180deg, var(--second) 0%, var(--fourth) 100%);
    /* hacemos el fondo más alto que el contenedor para poder desplazarlo */
    background-size: 100% 200%;
    /* animación continua */
    animation: moveGradient 4s linear infinite;
  }


  .bcLG_180deg_thirdFourth_anim {
    /* degradado original */
    background: linear-gradient(180deg, var(--third) 0%, var(--fourth) 100%);
    /* hacemos el fondo más alto que el contenedor para poder desplazarlo */
    background-size: 100% 200%;
    /* animación continua */
    animation: moveGradient 4s linear infinite;
  }

  .bcLG_180deg_firstLightFirst_anim {
    background: linear-gradient(180deg, var(--first-light) 0%, var(--first) 100%);
    background-size: 100% 200%;
    animation: moveGradient 4s linear infinite;
  }
  
  @keyframes moveGradient {
    0%   { background-position: 0% 0%;   }
    50%  { background-position: 0% 100%; }
    100% { background-position: 0% 0%;   }
  }

/* ---------------- */

/* LINE-CSS */

.line1 {
    width: 50%;
    height: 1px;
    background: black;
  }
  .line2 {
    width: 70%;
    height: 1px;
    background: black;
  }

  .line3 {
    width: 70%;
    height: 1px;
    background: white;
  }




/* --------------- */

/* BORDER-CSS */

.b1_solid_first{
    border: 1px solid var(--first);
}

.b2_solid_first{
    border: 2px solid var(--first);
}

.b3_solid_first{
    border: 3px solid var(--first);
}

.b4_solid_first{
    border: 4px solid var(--first);
}

.b5_solid_first{
    border: 5px solid var(--first);
}

.b6_solid_first{
    border: 6px solid var(--first);
}

.b7_solid_first{
    border: 7px solid var(--first);
}

.b8_solid_first{
    border: 8px solid var(--first);
}

.b9_solid_first{
    border: 9px solid var(--first);
}

.b10_solid_first{
    border: 10px solid var(--first);
}

.b1_solid_third{
    border: 1px solid var(--third);
}

.b2_solid_third{
    border: 2px solid var(--third);
}

.b3_solid_third{
    border: 3px solid var(--third);
}

.b4_solid_third{
    border: 4px solid var(--third);
}

.b5_solid_third{
    border: 5px solid var(--third);
}

.b6_solid_third{
    border: 6px solid var(--third);
}

/* ------------------ */

/* --------CALENDAR1-CSS- */

.calendar1{
   
    gap: 10px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, minmax(10px, 1fr));
    grid-template-rows: 60px repeat(10, 50px);
    box-sizing: border-box;
    padding: 20px;
    grid-auto-rows: 50px;
    border-radius: 5px;
    overflow-y: auto;

}

.cell1{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
/* ----------------- */

/* GLOW-CSS EFECTS */

.glow1_fifth {
    
  
    border-radius: 50%;
    box-shadow: 0 0 50px var(--fifth);
    animation: pulseGlow1_fifth 1.5s infinite alternate;
  }


@keyframes pulseGlow1_fifth {
    from {
      box-shadow: 0 0 20px var(--fifth);
    }
    to {
      box-shadow: 0 0 40px var(--fifth);
    }
  }


  
.glow1_white {
    
  
    border-radius: 50%;
    box-shadow: 0 0 50px white;
    animation: pulseGlow1_white 1.5s infinite alternate;
  }


@keyframes pulseGlow1_white {
    from {
      box-shadow: 0 0 20px white;
    }
    to {
      box-shadow: 0 0 40px white;
    }
  }


/* ------------------------------- */

/* ---------- SIZE-CSS---------- */

.size1{
    width: clamp(40px, 10vw, 60px);
    height: clamp(40px, 10vw, 60px);

}

/* ---------------------------------- */

/* ------------ HOVER-CSS EFFECTS---------------- */

.hoverFirst:hover{
    filter: brightness(1.15);
}
/* -------------------------------- */

.bcCustom{
    background-color: #ffffff;
}

.scheduled{
    background-color: #91a78a;

}

.PND{
  background-color: black;
}

.BS, .PND{
background-color:  black;
color:white;
}

.NAV{
    background-color: white;
    border: 2px solid black;
}

.AV{
        background-color: #f2f2f2;
    
    
}

/* -------------------------------- */

/* ------------ MODAL-CSS -------------- */

 /* Fondo oscuro detrás del modal */
 .modal-overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: none; /* oculto por defecto */
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  /* Modal en sí */
  .modal1 {
    padding: 0 20px 20px 20px;
    border-radius: 8px;
    width: clamp(200px, 60vw, 900px);
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr 10fr;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    box-sizing: border-box;
  }

 
  /* Botón cerrar (equis) */
  .close-btn1 {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
  }

  .close-btn1:hover {
    color: rgb(255, 255, 255);
  }


/* ------------------------------------------ */

/* ----------------MENU-LATERAL-CSS LATERAL-MENU-CSS LATERAL-CSS MENU-CSS------ */

.anim_menu1{
  left: 0 !important;
}

/* --------------------------- */


.w100_resp1{
    width: 100%;
}

.Rechazada button, .Aceptada button {
/* background-color: #33f8a6; */
 display:  none;
}

.Rechazada, .REJ{
background-color: #a57d7a;
}

.Aceptada, .ACC{
  background-color: #91a78a;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--second )
  
}

::-webkit-scrollbar-thumb {
  background: var(--first);
  border-radius: 3px;
}

.selected-service{
  background-color: color-mix(in srgb, var(--first) 70%, black 30%);
}




@media screen and (min-width: 1024px) and (max-height: 1000px) {
   
    .vh_resp{
       
        height: 35vh !important;
    }

    .dFlex_Resp1{
        flex-direction: row !important;
        overflow-x: auto !important;
    }

    .width_responsive{
        width: 200px !important;
        height: 200px !important;
        flex-shrink: 0;
        
        
    }
}

@media screen and (min-width: 1020px) {

    .resp_left_right_padding{
        box-sizing: border-box;
        padding-left: 150px;
        padding-right: 100px;
        overflow-y: hidden;
        overflow-x: auto;
    }

   
}


@media screen and (max-width: 1028px) {
    .carousel1 .slide1 img.ofCover {
        display: block !important;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
      }

    .resp_gtc_ra300px{
        grid-template-columns: 1fr !important;
    }
    .resp_pt20{
        padding-top: 0px !important;
    }

    .gridResp{
        grid-template-rows: 1fr 3fr 1fr 3fr !important;
    }

    .resp{
        display: flex !important;
    }

    .respGrid{
        display: grid !important;
    }

    .resp2{
        display: none !important;
    }

    .resp_infor{
        grid-template-columns: 1fr !important;
        grid-template-rows: auto 1fr !important;
    }
    .resp_infor2{
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 0.5fr !important;
    }
  }

  @media screen and (max-width: 600px) {
    .slide1 {
        min-width: 100%;
        height: 250px !important;
        flex-shrink: 0;
        overflow: hidden !important;
      }
      .slide1 img.ofCover {
        position: absolute !important;
        top: 0 !important; left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
        display: block;
      }

      .carousel-track2 {
      
        width: 90% !important;
        
       
      }

      .width_responsive{
        height: 60px !important;
      }

      .w100_resp1{
        width: auto !important;
        gap: 10px;
       
        grid-template-columns: auto 1fr !important;
        grid-template-rows: 1fr 1fr !important;
       
      }

      .resp_aiStart{
        justify-content: start !important;
      }

    
}

@media screen and (max-width: 500px) {
    .fs11{
        font-size: clamp(12px, 1.5vw, 15px) !important;
    }

    .jcCenter_resp{
        justify-content: flex-start !important;
    }
}