<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Prestige Salon</title>
    <link href="../Styles.css" rel="stylesheet" type="text/css">

    <link href="../myClasses.css" rel="stylesheet" type="text/css">
    <link href="../responsive_styles.css" rel="stylesheet" type="text/css">

</head>

<body class="bcLG_180deg_thirdFourth_anim h100vh w100vw bsBorderBox p10 pb20 gap20  dGrid gtr_1_5 pRelative gtc_1">
    <!-- --------------------PARTE DONDE ESTA LA FOTO Y LE DA LA BIENVENIDA AL MIEMBRO------ -->
 <div class="w100 h100 bcSecond br10px dGrid gtr_1 gtc_auto_1 aiCenter bsBorderBox">

    <!-- -----------DONDE SOLO VIENE LA IMAGEN----- -->
   <div class="dFlex aiCenter jcCenter w20vw ml20 h100 bsBorderBox">
    <img id="myImgSpecialist" class="myImg4 br50per b5_solid_first">
   </div>
   <!-- --------------AQUI VIENE LA BIENVENIDA, LA LINEA Y CUAL ES SU ESPECIALIDAD----------- -->
   <div class="w100 h100 dGrid gtc_1 gtr_1_auto_1 gResp bsBorderBox">
    <div class="w100 h100  dFlex aiEnd jcLeft ff2 fs6 fw700 cFirst bsBorderBox">WELCOME &nbsp;<span class="ff1 fsItalic cBlack" id="nameSpecialist"></span></div>
    <div class="line1  ml5 mt10 mb10 bsBorderBox"></div>
    <div class="w100 h100  dFlex aiStart jcLeft ff2 fs3 fw200 cFirst bsBorderBox" id="specialistJob"></div>

   </div>
   <!-- -------- -->

 </div>


 <!-- -----------------PARTE DONDE VIENEN SUS SOLICITUDES PENDIENTES DE SUS CITAS----------- -->
 <div class="w100 h100 bcSecond br10px dFlex fdColumn aiCenter gap20 bsBorderBox p20 ">
    <!-- -------CONTENEDOR SCROLLEABLE PARA VER LOS PEDIDOS Y ACEPTARLOS------------ -->
  <div class="w85vw h75vh br10px  myHResp oxHidden oyAuto gap20 dFlex fdColumn aiCenter">


   <div class="w100 h10vh bcFirst br10px fShrink0 dGrid aiCenter gtr_1 gtc_1_4_1 oHidden gap10">
      <div class="w100 h100 bcRed"></div>
      <div class="w100 h100 bcRed"></div>
      <div class="w100 h100 bcRed"></div>
   </div>
 

  </div>
<!-- --------------------------- -->
 </div>



    <script src="../myScripts.js"></script>
    <script src="../scripts/myAdminScripts.js"></script>

</body>

</html>