<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Prestige Salon</title>
    <link href="../Styles.css" rel="stylesheet" type="text/css">
    <link href="../responsive_styles.css" rel="stylesheet" type="text/css">

    <link href="../myClasses.css" rel="stylesheet" type="text/css">
</head>

<body class="bcLG_180deg_SecondFourth_anim h100vh w100vw bsBorderBox p10 dFlex aiCenter jcCenter  pRelative  ">
    
     <!-- -------------CUADRO DE LOGIN---------- -->
      <div class="w_resp w50vw h60vh bcFirst br1 dGrid gtc_1 gtr_1_3 oHidden">
<div class="w100 h100 dFlex jcCenter aiCenter ">
<img src="../icons/icon_alone2_png.png" class="myImg9">
</div>

      </div>
     <!-- -------------------------------------- -->

    <script src="../myScripts.js"></script>
    <script src="myScriptsServices.js"></script>

</body>

</html>