<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Prestige Salon</title>
    <link href="../Styles.css" rel="stylesheet" type="text/css">

    <link href="../myClasses.css" rel="stylesheet" type="text/css">
</head>
<body class="bcLG_180deg_thirdFourth h100vh w100vw bsBorderBox p10  dGrid gtr_0-5_auto_8 pRelative gtc_1">
<!-- -------A PARTIR DE AQUI INICIA EL DISEÑO DE LA PARTE DE SERVICIOS--- -->
<div class="w100 h100  dFlex aiCenter jcCenter mb20">
    <!-- -------TEXTO DE LA AGENDA--- -->
<label class="fs4 ff2 fw500 cFirst">Pick an Artist</label>
</div>
<!-- -----PARTE DONDE SE SELECCIONA LA ARTISTA------- -->
<div class="w100 h100  dFlex aiCenter jcCenter jcCenter_resp oxAuto gap20 bsBorderBox pl10 pr10">
    <img src="../images/team_teresa.jpg" class="myImg2 br50per b5_solid_first">
    <img src="../images/team_lucy-rose.jpg" class="myImg2 br50per b5_solid_first">
    <img src="../images/team_carly.jpg" class="myImg2 br50per b5_solid_first">
    <img src="../images/team_holly.jpg" class="myImg2 br50per b5_solid_first">
    <img src="../images/team_marni.jpg" class="myImg2 br50per b5_solid_first">
    <img src="../images/team_amy.jpg" class="myImg2 br50per b5_solid_first">
    
</div>
<!-- --------------------------CLANEDARIO PARA AGENDAR---------- -->
 <div class="w100 dFlex h100 jcCenter aiCenter  oyAuto bsBorderBox p10">
    <div class="calendar1 bcWhite fs2" id="calendar1"></div>

 </div>


<!-- --------------------------------------------- -->
    <script src="../myScripts.js"></script>
    <script src="myScriptsServices.js"></script>

</body>
</html>