<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Prestige Salon</title>
    <link href="../Styles.css" rel="stylesheet" type="text/css">
    <link href="../responsive_styles.css" rel="stylesheet" type="text/css">

    <link href="../myClasses.css" rel="stylesheet" type="text/css">
</head>

<body class="bcLG_180deg_thirdFourth_anim h100vh w100vw bsBorderBox p10  dGrid gtr_0-5_auto_8 pRelative gtc_1">
    <!-- -------A PARTIR DE AQUI INICIA EL DISEÑO DE LA PARTE DE SERVICIOS--- -->
    <!-- -------TEXTO DE LA AGENDA--- -->
    <div class="w100 h100  dFlex aiCenter jcCenter mb20">

        <label class="fs4 ff2 fw900 cFirst">Pick a Service</label>
    </div>
    <!-- -----PARTE DONDE SE SELECCIONA EL SERVICIO------- -->
    <div class="w100 h100   dFlex aiCenter jcCenter jcCenter_resp oxAuto oyVisible  gap20 bsBorderBox pl10 pr10 pb10">

        <div data-service="0"
            class="cPointer hoverLight fShrink0 h100px w150px br1 bcFirst dFlex jcCenter aiCenter ff2 fw400 cWhite fs12 service-card">
            E Y E L A S H <br> E X T E N S I O N
        </div>

        <div data-service="1"
            class="cPointer hoverLight fShrink0 h100px w150px br1 bcFirst dFlex jcCenter aiCenter ff2 fw400 cWhite fs12 service-card">
            E Y E B R O W S
        </div>

        <div data-service="2"
            class="cPointer hoverLight fShrink0 h100px w150px br1 bcFirst dFlex jcCenter aiCenter ff2 fw400 cWhite fs12 service-card">
            F A C I A L S
        </div>

        <div data-service="3"
            class="cPointer hoverLight fShrink0 h100px w150px br1 bcFirst dFlex jcCenter aiCenter ff2 fw400 cWhite fs12 service-card">
            M A K E <br> U P
        </div>

        <div data-service="4"
            class="cPointer hoverLight fShrink0 h100px w150px br1 bcFirst dFlex jcCenter aiCenter ff2 fw400 cWhite fs12 service-card">
            T A N N I N G
        </div>

        <div data-service="5"
            class="cPointer hoverLight fShrink0 h100px w150px br1 bcFirst dFlex jcCenter aiCenter ff2 fw400 cWhite fs12 service-card">
            S P R A Y <br> T A N S
        </div>

        <div data-service="6"
            class=" cPointer hoverLight fShrink0 h100px w150px br1 bcFirst dFlex jcCenter aiCenter ff2 fw400 cWhite fs12 service-card">
            N A I L S
        </div>

        <div data-service="7"
            class="cPointer hoverLight fShrink0 h100px w150px br1 bcFirst dFlex jcCenter aiCenter ff2 fw400 cWhite fs12 service-card">
            H A I R <br> R E M O V A L
        </div>



    </div>
    <!-- --------------PARTE PARA LOS SERVICIOS ESPECIFICOS--- -->
    <div class="w100 h100 dFlex jcCenter aiCenter oHidden">
        <div class="bcSecond br1 w60 wResp95 h95 dFlex aiCenter bsBorderBox jcCenter pl50 pr50 pt20 pb20 mt10">
            <div class=" w100 h60vh dFlex aiCenter jcStart oxHidden oyAuto fdColumn gap20"
                id="myContainerSpecificServices">

                <!-- <div class="fShrink0 bcFirst w98 h70px br1 ff1 fs2 cSecond dFlex jcCenter aiCenter ">
                    LVL Lash Lift - &nbsp; <span class="cWhite fs4">15 min</span>
                </div> -->



            </div>

        </div>
    </div>
    <!-- ----------MODAL ------- -->

    <div class="bcTransparentBlack pFixed left0 top0 w100vw h100vh dNone aiCenter jcCenter" id="myModalArtist">


        <!-- -----PARTE DEL MODAL---- -->
        <div class="Responsive-size bcSecond br1 w60vw h80vh dGrid gtc_1 gtr_0-5_1_1_3_8" id="myMainModal">
            <!-- BOTON PARA CERRAR -->
            <div class="w100 h100 dFlex aiCenter jcEnd bsBorderBox pr20 fs2 fw700 ff2 cFirst">
                <span class="cPointer hoverBlack-f" id="myBtnCloseModalS">&times;</span>
            </div>

            <!-- -------PARTE PARA EL TITULO--- -->
            <div class="w100 h100  dFlex aiCenter jcCenter fw500 ff1 cFirst fs16">
                Select an Option and Specialist
            </div>
            <!-- -------PARTE DONDE VIENE EL NOMBRE DEL SUBSERVICIO---- -->
            <div class="w100 h100  dFlex aiCenter jcCenter" id="containerSubservice">
                     <!-- <div class="bcFourth bNone wAuto h90 dFlex aiCenter jcCenter ff2 cWhite fw600 fs10 pl10 pr10 br10px">Gents Waxing</div> -->
            </div>
            <!-- -------PARTE PARA SELECCIONAR EL TIPO---- -->
            <div class="w100 h100  jcStart dFlex aiCenter oyHidden oxAuto bsBorderBox pl20 pr20 gap20" id="menuTypes">
<!-- 
                <div class="fShrink0 w200px h90 br10px bcFirst dGrid gtc_1 gtr_1_1_0-5 bsBorderBox pl5 pr5 cPointer hoverLight type-service">

                    <div class="w100 h100 dFlex aiCenter jcCenter fs10 ff2 fw600 cWhite">
                        Eyelashes-Strip Lashes
                    </div>
                    <div class="w100 h100 dFlex aiEnd bsBorderBox pb10 jcCenter fs11 ff2 fw700 cWhite">
                        60 min
                    </div>
                    <div class="w100  h100 dFlex aiCenter jcCenter fs11 ff2 fw300 cWhite bsBorderBox pb10">
                        GBP 55
                    </div>

                </div> -->


            </div>
            <!-- ---------------- -->
        </div>


    </div>

    <!-- --------------- -->

    <script src="../myScripts.js"></script>
    <script src="newServices.js"></script>

    <!-- <script src="myScriptsServices.js"></script> -->

</body>

</html>